@font-face { 
    font-family: "Anir b"; 
    src: url("fonts/anirb___.ttf") format('truetype'); 
    }

    @font-face { 
        font-family: "Anir m"; 
        src: url("fonts/anirm___.ttf") format('truetype');; 
        }