* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Anir b", sans-serif;
}

.d_none {
    display: none;
}

.content {
    height: 100svh;
    background-size: cover;
    background-image: url(img/background/Cartoon_Forest_BG_04/Cartoon_Forest_BG_04.png);
}

h1 {
    font-size: 48px;
    padding: 24px 0px;
    text-align: center;
    background: -webkit-linear-gradient(#B09B23, #663F1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(4px 2px black);
}

.main_container {
/*     height: calc(100% - 216px); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
}

.fullscreen {
    width: 720px;
    height: 480px;
    position: absolute;
}

.img_fullscreen {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 430px;
    right: 20px;
    transition: transform 100ms ease-in-out;
}

.img_fullscreen:hover {
    transform: rotate(25deg);
    filter: drop-shadow(1px 1px 5px rgb(31, 165, 4));
}

/* smartphones */

@media screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .fullscreen {
        width: 100%;
    }
}

@media screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .fullscreen {
        height: 100vh;
    }
}