* {
    margin: 0;
    box-sizing: border-box;

}

.d_none {
    display: none;
}

.content {
    height: 100svh;
    background-size: cover;
    background-image: url(img/background/Cartoon_Forest_BG_04/Cartoon_Forest_BG_04.png);
}

h1 {
    font-family: "Anir b", sans-serif;
    font-size: 48px;
    padding: 24px 0px;
    text-align: center;
    background: -webkit-linear-gradient(#B09B23, #663F1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(4px 2px black);
}

.main_container {
    height: calc(100% - 216px);
/*     height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

canvas {
    display: block;
    transition: filter 1s ease, background-color 1s ease;
}

canvas.grayscale {
    filter: grayscale(1);
}

canvas.redtone {
    filter: grayscale(1) sepia(1) hue-rotate(-30deg) saturate(2) brightness(0.7);
}

.fullscreen {
    width: 720px;
    height: 480px;
    position: absolute;
}

.wrapper {
    position: absolute;
    display: flex;
    gap: 16px;
    right: 20px;
    top: 390px;
}

.img_wrapper {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

.img_wrapper:hover {
    filter: drop-shadow(1px 1px 5px rgb(31, 165, 4));
    transform: rotate(25deg);
}

.settings {
    padding: 8px;
    width: 720px;
    display: flex;
    justify-content: space-around;
    transform:
      perspective(75em)
      rotateX(18deg);
    box-shadow:
      rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
      rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color:
      rgb(0, 0, 0)
      rgb(0, 0, 0)
      rgb(0, 0, 0);    
}

.lost_screen {
    position: absolute;
/*     display: flex;
    justify-content: center;
    align-items: center; */
/*     width: 720px;
    height: 480px; */
/*     top: 12px;
    left: 183px; */
}

.screen_text {
    font-family: "Jungle Adventure", sans-serif;
    font-size: 64px;
    letter-spacing: 1.5px;
    color: #ff0000; /* Rot für den Text */
    text-shadow: 
        -4px -4px 0 #000,  
        4px -4px 0 #000,
        -4px 4px 0 #000,
        4px 4px 0 #000,
        0 0 4px #000; /* Zusätzliches, weiches Schatten für dickeren Rand */
}

.keyboard_content {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Jungle Adventure", sans-serif;
}

.img_key {
    height: 56px;
    width: 56px;
}

.rotate_right {
    transform: rotate(90deg);
}

.rotate_left {
    transform: rotate(270deg);
}

.key_text {
    font-size: 40px;
    background: -webkit-linear-gradient(#B09B23, #663F1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(4px 2px black);
}

/* smartphones */

@media screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .fullscreen {
        width: 100%;
    }
}

@media screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .fullscreen {
        height: 100vh;
    }
}